@using ArtworkStore.WebUI.Models
@model ArtworkListViewModel

@{ 
    ViewBag.Title = "Artworks";
}

@foreach (var el in Model.Artworks)
{
    @Html.Partial("ArtworkSummary", el)
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, Model.CurrentTechnique}))
</div>
